* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

.mix {
  display: none;
}

.noverflow {
  overflow: hidden;
}

.alternateFont {
  font-family: "Spectral";
}

.hero-banner {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px;
  background: url(https://maetourdie.github.io/portfolio/img/3671505.jpg);
  background-size: cover;
}

.hero-banner h1 {
  font-size: 60px;
  color: black;
  font-style: italic;
  font-weight: 500;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.hero-banner .btn-container {
  padding-top: 20px;
}

.hero-banner .btn-container button {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  background-color: transparent;
  border-bottom: solid 2px black;
  cursor: pointer;
  padding-bottom: 5px;
  font-size: 17px;
  color: black;
}

.hero-banner .btn-container button a {
  text-decoration: none;
  color: black;
}

.hero-banner .btn-container button i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 0px;
  opacity: 0;
}

.hero-banner .btn-container button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero-banner .btn-container button:hover i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  width: 30px;
}

.whitespace {
  height: 50px;
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .wrapper h2 {
  font-size: 30px;
  color: #5166b2;
  margin-bottom: 30px;
}

.section .wrapper p {
  text-align: center;
  line-height: 200%;
  margin-bottom: 30px;
}

.apropos {
  background: url("img/bg-dots.png");
  padding: 60px;
}

.folio h2 {
  margin-bottom: 10px !important;
}

.folio .filters-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.folio .filters-container .filter {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: white;
  border: solid 2px #a1b1e7;
  cursor: pointer;
  font-weight: 500;
  margin: 0px 10px;
}

.folio .filters-container .filter:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: solid 2px #5166b2;
}

.folio .filters-container .active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: solid 2px #5166b2;
  background-color: #5166b2;
  color: white;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.container-posts {
  max-width: 1280px;
  padding: 1rem;
}

.post__title {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--dark-color);
}

.post__title:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--accent-color);
}

.posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.post__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 340px;
  cursor: pointer;
  height: 340px;
}

.post__content {
  margin: 0.4rem;
  -webkit-transition: margin 0.2s ease-in-out;
  transition: margin 0.2s ease-in-out;
}

.contact {
  padding: 60px;
  background: url("img/bg-dots.png");
}

.contact h2 {
  margin-bottom: 10px !important;
}

.contact p {
  margin-bottom: 20px;
  width: 90%;
}

.contact h3 {
  font-size: 30px;
}

.contact h3 a {
  font-style: italic;
  color: black;
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  height: 80px;
  background-color: #5166b2;
  padding: 50px;
}

footer p {
  color: white;
}

footer a {
  color: white;
}

#generatedImg {
  position: fixed;
  z-index: 400;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  display: none;
  background-color: rgba(0, 0, 0, 0.637);
}

#generatedImg img {
  height: 80%;
  width: auto;
}

.visible {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 1140px) {
  .posts {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .posts {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */